/* Global Style */
body {
    background-color: #183642;
    font-family: 'Press Start 2P', cursive;
    color: #A4243B;
    text-align: center;
}

/* Heading */
.heading {
    font-size: 2rem;
    height: 250px;
    margin: 100px;
}

/* Button */
#button-section {
    height: 100px;
}
#button {
    padding: 20px 10px;
    background-color: #A4243B;
    border: none;
    color: #183642;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
}

#button:hover {
    color: #F3F8F2;
}

/* Main Game Board */
#main-game {
    height: 100px;
    padding: 20px 0;
    display: none;
}

/* End Game Message */
#endgame-message {
    display: none;
}