/* Global Style */
body {
    background-color: #183642;
    font-family: 'Press Start 2P', cursive;
    color: #A4243B;
    text-align: center;
}

/* Heading */
.heading {
    font-size: 2rem;
    height: 250px;
    margin: 100px;
    /* display: none; */
}

/* Button */
#button-section {
    height: 100px;
    /* display: none; */
}
#button {
    padding: 20px 10px;
    background-color: #A4243B;
    border: none;
    color: #183642;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
}

#button:hover {
    color: #F3F8F2;
}

/* Main Game Board */
#home {
    padding: 20px 10px;
    background-color: #A4243B;
    border: none;
    color: #183642;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
}

#home:hover {
    color: #F3F8F2;
}

#main-game {
    height: 90vh;
    /* width: 100vw; */
    display: none;
    justify-content: center;
    align-items: center;
    /* padding: 0;
    margin: 0;
    margin-top: 14px; */
}

canvas {
    width: 50%;
    border: solid 1px #F3F8F2;
}

/* End Game Message
#endgame-message {
    display: none;
} */

#button-two {
    padding: 20px 10px;
    background-color: #A4243B;
    border: none;
    color: #183642;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
}

#button-two:hover {
    color: #F3F8F2;
}

.hide {
    display: none;
}