/* Global Style */
body {
    background-color: #183642;
    font-family: 'Press Start 2P', cursive;
    color: #A4243B;
    text-align: center;
}

/* Heading */
.heading {
    font-size: 2rem;
    height: 250px;
    margin: 100px;
    /* display: none; */
}

/* Button */
#button-section {
    height: 100px;
    /* display: none; */
}
#button {
    padding: 20px 10px;
    background-color: #A4243B;
    border: none;
    color: #183642;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
}

#button:hover {
    color: #F3F8F2;
}

/* Main Game Board */
#main-menu {
    padding: 20px 10px;
    background-color: #A4243B;
    border: none;
    color: #183642;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
}
#main-game {
    height: 98vh;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0;
    margin: 0; */
}

canvas {
    width: 50%;
    border: solid 1px #F3F8F2;
}

/* End Game Message */
#endgame-message {
    display: none;
}

.hide {
    display: none;
}